
/*Styling for the navigation*/

 #homepagelat {
    color: white; 
    background-color: #5f9ea0;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 175px;
}

.nav-item  {
    color: rgb(206, 200, 200);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: lightgrey;
}
/* Navbar styling ends*/

tr {
    text-align: center;
}


h1 {
    padding-top: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: cadetblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.col--md-6 {
    padding:10%
}

table {
    background-color: white;
}
/* format navigation smaller */
@media (max-width: 600px) {
  #homepagelat {
    color: white; 
    background-color: #5f9ea0;
    font-weight: bold;
    padding: 40px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    margin-left: 0px;
  }
 
  nav {
      background-color: cadetblue;
  }
  .navbar-nav {
  background-color: white;
  padding: 40px;
  border: white
  }

}