
/*Styling for the navigation*/

 #homepagelat {
    color: white; 
    background-color: #5f9ea0;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 175px;
}

.navbar {
    color: white;
    background-color: white;
}
.navbar-light {
    color: white;
    background-color: white;
}

.bg-light {
    color: white;
    background-color: white;
}
.nav-link {
    color: grey;
}

.nav-item  {
    color: grey;
}
